// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {

	background-color: pink;
	height: 30px;
	width: 70px;
	padding: 10px;
	margin: 10px;

}
